[submodule "examples/edn-tests"]
	path = examples/edn-tests
	url = git@github.com:shaunxcode/edn-tests.git
[submodule "examples/antlr-grammars-v4"]
	path = examples/antlr-grammars-v4
	url = git@github.com:salewski/antlr-grammars-v4.git
[submodule "examples/json5-rs"]
	path = examples/json5-rs
	url = https://github.com/callum-oakley/json5-rs.git
[submodule "examples/clojure"]
	path = examples/clojure
	url = git@github.com:clojure/clojure.git
